/* Navbar */
.navBar 
{
  background: #EAECE5 ;
  min-height: 7vh ;
  position: sticky ;
  border-bottom: 0.25rem solid #3B3A30 ;
}

.navBarIcon 
{
  min-width: 40px ;
  max-width: 40px ;
  min-height: 40px ;
  max-height: 40px ;
  font-size: 20px ;
  color: #EAECE5 ;
  background: #3B3A30 ;
  border-radius: 30px ;

  transition: all 250ms ease-in ;
}

.navBarIcon:hover
{
  color: #FFFFFF ;
  transform: scale(0.80) ;
}

.navBarIcon:focus
{
  outline: none ;
}

.navBarIcon:active
{
  color: #FFFFFF ;
  transform: scale(0.90) ;
}

.navBarH 
{
  font-family: Epilogue, sans-serif ;
  font-weight: bold ;
  text-align: center ;
  font-size: 1.25em ;
  margin: 0 ;
  margin-left: 0.5rem ;
  color: #3B3A30 ;
  margin-top: 5px ;
}

.navBarImg 
{
  min-width: 50px ;
  max-width: 50px ;
  min-height: 50px ;
  max-height: 50px ;
  border-radius: 30px ;
}

/* Chat */
.chatContainer 
{
  background: #3B3A30 ;
  min-height: 82.3vh ;
  padding-top: 1vh ;
  padding-bottom: 1vh ;
  position: relative ;
}

/* Message */
.message 
{
  width: 80% ;
  background: #EAECE5 ;
  border-radius: 10px ;
  margin-top: 0.25rem ;
  margin-bottom: 0.25rem ;

  transition: all 250ms ease-in ;
}

.message:hover
{
  transform: scale(0.95) ;
}

.messageHeight 
{
  min-height: 50px ;
}

.messageTime 
{
  margin: 0 ;
  font-family: Epilogue, sans-serif ;
  font-weight: bold ;
  text-align: center ;
  font-size: 0.75em ;
  color: #3B3A30 ;
}

.messageText 
{
  margin: 0 ;
  font-family: Oxygen, sans-serif ;
  font-weight: bold ;
  text-align: center ;
  font-size: 1em ;
  color: #3B3A30 ;
}

.messageImg 
{
  min-width: 35px ;
  max-width: 35px ;
  min-height: 35px ;
  max-height: 35px ;
  border-radius: 30px ;
}

/* Input */
.inputDiv 
{
  background: #3B3A30 ;
  min-height: 10vh ;
  position: sticky ;
}

.inputText 
{
  width: 80% ;
  font-family: Oxygen, sans-serif ;
  font-weight: bold ;
  font-size: 1em ;
  color: #EAECE5 ;
  background: #3B3A30 ;
  border-radius: 10px ;
  border-width: 1.5px ;
  border-style: solid ;
  border-color: #EAECE5 ;
}

.inputText:focus
{
  color: #EAECE5 ;
  background: #3B3A30 ;
  box-shadow: 3px 3px #EAECE5 ;
  border-color: #EAECE5 ;
}

.inputBtn 
{
  background: #EAECE5 ;
  min-width: 40px ;
  max-width: 40px ;
  min-height: 40px ;
  max-height: 40px ;
  border-style: none ;
  border-radius: 30px ;

  transition: all 250ms ease-in ;
}

.inputBtn:hover
{
  background: #FFFFFF ;
  transform: scale(0.80) ;
}

.inputBtn:focus
{
  outline: none ;
  transform: scale(0.80) ;
}

.inputBtn:active
{
  background: #EAECE5 ;
  transform: scale(0.90) ;
}

.inputIcon 
{
  font-size: 35px ;
  color: #3B3A30 ;
  margin-left: 5px ;
}