/* Default */
body
{
  background-color: rgb(37,37,37) ;
}

p
{
  cursor: default ;
}

span
{
  cursor: default ;
}

h1
{
  cursor: default ;
}

.width95
{
  width: 95% !important ;
}

a
{
  text-decoration: none ;
}

a:hover
{
  color: inherit ;
  cursor: pointer ;
}

::placeholder
{
  color: var(--bs-gray-500) !important ;
}

/* Scale */
.scale
{
  transition: all 250ms ease-in ;
}

.scale:hover
{
  transform: scale(0.93) ;
}

.scale:active
{
  transform: scale(0.97) ;
}

/* Footer */
footer 
{
  min-height: 7vh ;
  background: rgb(37,37,37) ;
}

.footerP 
{
  color: var(--bs-gray-300) ;
  font-family: Oxygen, sans-serif ;
  font-size: 0.75em ;
  text-align: center ;
}