/* Default */
body
{
  background: #3B3A30 ;
}

p
{
  cursor: default ;
}

span
{
  cursor: default ;
}

h1
{
  cursor: default ;
}

.width95
{
  width: 95% !important ;
}

.marginTB 
{
  margin-top: 1rem ;
  margin-bottom: 1rem ;
}

a
{
  text-decoration: none ;
}

a:hover
{
  color: inherit ;
  cursor: pointer ;
}

input::placeholder
{
  color: var(--bs-gray-500) !important ;
}

/* Scale */
.scale
{
  transition: all 250ms ease-in ;
}

.scale:hover
{
  transform: scale(0.80) ;
}

.scale:active
{
  transform: scale(0.90) ;
}

/* Footer */
footer 
{
  min-height: 7vh ;
  background: #3B3A30 ;
}

.footerP 
{
  color: #EAECE5 ;
  font-family: Oxygen, sans-serif ;
  font-size: 0.75em ;
  text-align: center ;
}