/* Default */
body
{
  background-color: rgb(38,38,38) ;
}

p
{
  cursor: default ;
}

span
{
  cursor: default ;
}

h1
{
  cursor: default ;
}

.width95
{
  width: 95% !important ;
}

a
{
  text-decoration: none ;
}

a:hover
{
  color: inherit ;
  cursor: pointer ;
}

::placeholder
{
  color: var(--bs-gray-500) !important ;
}

/* Scale */
.scale
{
  transition: all 250ms ease-in ;
}

.scale:hover
{
  transform: scale(0.93) ;
}

.scale:active
{
  transform: scale(0.97) ;
}