/* Log In */
.logInContainer 
{
  min-height: 93vh ;
  background: rgb(37,37,37) ;
}

.logInDiv 
{
  width: 20rem ;
  height: 30rem ;
  border-radius: 30px ;
  background: var(--bs-gray-100) ;
}

.logInImg 
{
  height: 5rem ;
  width: 15rem ;
  margin: 2.25rem 0rem ;
}

.logInTxt 
{
  width: 80% ;
  font-family: Oxygen, sans-serif ;
  font-weight: bold ;
  font-size: 0.9em ;
  margin: 0.5rem 0rem ;
  background: var(--bs-gray-100) ;
  border-radius: 5px ;
}

.logInTxt:focus
{
  background: var(--bs-gray-100) ;
  border: 1px solid rgb(37,37,37) ;
  box-shadow: 2.5px 2.5px rgb(37,37,37) ;
}

.logInBtn 
{
  background: rgb(37,37,37) ;
  color: var(--bs-gray-100) ;
  font-size: 0.9em ;
  font-family: Oxygen, sans-serif ;
  text-align: center ;
  height: 40px ;
  width: 80% ;
  border-radius: 5px ;
  margin: 0.5rem 0rem ;
  border-style: none ;

  transition: all 200ms ease-in ;
}

.logInBtn:hover
{
  transform: scale(0.95) ;
}

.logInBtn:focus
{
  transform: scale(0.95) ;
  outline: none ;
}

.logInBtn:active
{
  transform: scale(0.90) ;
}

.logInLink 
{
  color: rgb(0,0,0) ;
  font-size: 0.75em ;
  text-align: center ;
  font-family: Oxygen, sans-serif ;
  font-weight: bold ;
  margin: 0.5rem 0rem ;

  transition: all 200ms ease-in ;
}

.logInLink:hover
{
  transform: scale(1.05) ;
}

.logInLink:focus
{
  transform: scale(1.05) ;
  outline: none ;
}

.logInLink:active
{
  transform: scale(1.10) ;
}

.logInErr 
{
  font-family: Oxygen, sans-serif ;
  font-weight: bold ;
  font-size: 0.9em ;
  color: rgb(170,40,50) ;
  text-align: center ;
}